.*
.**
.*/**
*.vsix
bin/**
coverage/**
coverconfig.json
dist/**
eslint.config.mjs
out/**/*.map
out/test/**
out/tools/**
package-lock.json
screenshots/**
src/**
test-reports/**
tsconfig.json
tsdown.config.mts