.*.yml
.gitattributes
.gitignore
.greenkeeper
.vscode-test/**
.vscode/**
*.vsix
bin/**
coverage/**
coverconfig.json
out/**/*.map
out/test/**
out/tools/**
package-lock.json
screenshots/**
src/**
test-reports/**
tsconfig.json
tslint.json
vsc-extension-quickstart.md