name: build

on: [push]

jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        version: ["1.26.0", "", "insiders"]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 10.x

      - name: Install Dependencies
        run: npm install

      - name: Run tests
        uses: GabrielBB/xvfb-action@v1.0
        with:
          run: npm test
        env:
          CODE_VERSION: ${{ matrix.version }}
